<h1>Search & Share <br />
    <span style="color: blue;">AI Prompts for ChatGPT</span>
</h1>
<p style="text-align: center; font-size: 20px;">Got something in mind but don't know how to tell ChatGPT? Find it on Prompt-A-Chat!</p><br />

{{!-- Search bar that pushes the router to "/search" and sending the queryString --}}
<span class="search-container">
    <input type="text" class="search-bar" id="search-bar" name="search-bar" placeholder="Search for prompts by tag, author, or contents! e.g: networking" />
    <button id="search-button" class="search-button">Search</button>
</span>

 <div style="margin-top: 80px; margin-bottom: 80px;">
    {{#each posts}}
        <div class="post-container">
            <div class="post-header">
                <div >{{authorEmail}}</div>
                <button class="copy-button" data-content-id="content-{{_id}}" aria-label="Copy content"></button>
            </div>
            
            <div class="post-title">
                {{title}}
            </div>
            <div class="post-content-box" id="content-{{_id}}">
                {{content}}
            </div>
            <div class="post-footer">
                <div>#{{tag}}</div>
                <div>{{formatDate date}}</div>
            </div>
        </div>
    {{/each}}
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search-button').on('click', function() {
            var searchQuery = $('#search-bar').val();
            window.location.href = '/search?queryString=' + searchQuery;
        });

        $('.copy-button').each(function() {
            $(this).text('📋');
        }).on('click', function() {
            console.log("post copied");
            var $button = $(this);
            var contentId = $button.data('content-id');
            var contentToCopy = $('#' + contentId).text();

            if (navigator.clipboard && window.isSecureContext) {
                navigator.clipboard.writeText(contentToCopy)
                    .then(function() {
                        $button.text('✅');
                        setTimeout(function() {
                            $button.text('📋');
                        }, 1500);
                    })
                    .catch(function(err) {
                        console.error('Failed to copy text: ', err);
                        alert('Failed to copy text. Please try manually.');
                    });
            } else {
                alert('Clipboard API not available. Please copy manually.');
            }
        });
    });
</script>
